
.container { /**container**/
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    background-color: #800000;
    padding: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    margin-bottom: 2em;
    border-radius: 25px;
    width: 70%;

}    
.login-title { 
    color: #FFD700;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-bottom: 0em;
}
.card {
    justify-content: left; 
    padding: 15px;
    color: rgb(136, 130, 44);
    font-size: 15px;   
}
.text-label{
    text-align: left;
    justify-content: center;
    color: white;
    margin-bottom: -1rem;
    margin-top: 1rem;
}
input{
    width: 100%;
    height: 2.5em;
    border-radius: 10px;
    font-family: Poppins;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/**buttons**/
.login{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 16px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    width: 11em;
    background-color: #FFD700;
    padding: 8px;
    border: 0;
    cursor: pointer;
    color: black;
} 
.lguest{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 16px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    width: 11em;
    background-color: #ADD8E6;
    padding: 8px;
    border: 0;
    cursor: pointer;
    color: black;
}
.guest-link{
    text-decoration: none;
}

.signup-link {
    color: #FFD700;
}