.html-admin{
    display: flex;
    background-color: maroon;
    background-size: cover;
    height: 100vh;
}

.header-admin {
    background-image: url('./plmbg-profile.png');
    background-size: cover;
    height: 15em;
    font-size: 20px;
    display: flex;
    background-position: center center;
    flex-direction: column;
    font-family: 'Poppins';
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: black;
    margin-bottom: 0em;
    width: 100%;
}

.title-admin {
    font-size: 70px;
    margin-top: .45em;
    font-family: 'Poppins';
    text-align: center;
}

.logout-admin{
    font-size: 70px;
    margin-bottom: -1em;
    margin-left: .6em;
    margin-top: .6em;
    z-index: 3;
    position: absolute;
}
.logout-icon{
    color: black;
}

.logout-icon:hover{
    color: maroon;
    z-index: 4;
}

.container-admin{
    justify-content: left;
    position: absolute;
    background-color: #FFFFFFE5;
    padding: 2.3rem;
    margin-left: 3em;
    margin-right: 30em;
    margin-top: 11em;
    border-radius: 20px;
    width: 22%;
    opacity: 90%;
    height: 60vh;

}

.containerTitle-admin{
    font-size: 17px;
    font-family: 'Poppins';
    color: black;
    font-weight:bolder;
    text-align: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.update-admin-btn{
    text-align: center;
    display: flex;
    font-family: 'Poppins';
    justify-content: center;
    font-weight: 1000;
    font-size: 15px;
    position: relative;
    border-radius: 10px;
    border: 1px solid;
    width: 7em;
    background-color: #ffd700;
    padding: 1px;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    top: 5em;
    left: 1.2em;
    color: black;
    margin-top: 20em;
    margin-right: 10em;
    margin-left: 6.50em;
    height: 6%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.update-admin-btn:hover{
    background-color: #e5c000;
}

.info-admin-icon{
    align-items: right;
    color: white;
}

.info-admin-btn{
    display: flex;
    position: absolute;
    margin-top: -1.40em;
    margin-right: -2em;
    margin-left: 20.30em;
    margin-right: 30px;
    margin-bottom: 10em;
    color: maroon;
    background-color: transparent;

    
    
}

.info-admin{
    position: absolute;
    margin-top: 10px;
    margin-right: 1.25em;
    margin-left: 2em;
    text-align: center;
    margin-inline: -2em;
    z-index: 500;
    justify-content: right;
    position: relative;
    
    
}

.info-admin-content{
    background-color: rgba(128,0,0,.9) ;
    color: white;
    height: 4em;
    border-radius: 10px;
    margin-top: 55px;
    padding: 25px;
    font-size: 14px;
    margin-right: 5em;
    margin-left: -17em;
    width: 150%;

    
  
    
    
   
}
