@font-face {
    font-family: "Poppins ExtraBold";
    src: url("https://db.onlinewebfonts.com/t/1a69bbaf09f62b4596f5020478cd0399.eot");
    src: url("https://db.onlinewebfonts.com/t/1a69bbaf09f62b4596f5020478cd0399.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1a69bbaf09f62b4596f5020478cd0399.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/1a69bbaf09f62b4596f5020478cd0399.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/1a69bbaf09f62b4596f5020478cd0399.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/1a69bbaf09f62b4596f5020478cd0399.svg#Poppins ExtraBold")format("svg");
}
.adm-mapcontainer{
    height: 72.3vh;
    width: 130vh;
    justify-content: right;
    margin-left: 43em;
    margin-bottom: 50.05px;
    margin-top: -68.90em;
    border: solid;
    box-sizing: border-box;
    border-color: #FFFFFFE5;
    border-radius: 2rem;
    position: fixed;
    box-shadow: 0 0 0px 5px #FFFFFFE5;
    opacity: 100%;
}

.html-admin{
    display: flex;
    background-color: maroon;
    background-size: cover;
    height: 100vh;
}

.header-admin {
    background-image: url('./plmbg-profile.png');
    background-size: cover;
    height: 13em;
    font-size: 20px;
    display:flex;
    background-position: center center;
    flex-direction: column;
    font-family: 'Poppins';
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: black;
    margin-bottom: 0em;
    width: 100%;
}

.title-admin {
    font-size: 70px;
    margin-top: .45em;
    font-family: 'Poppins ExtraBold';
    text-align: center;
    font-weight: lighter;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.logout-admin{
    font-size: 70px;
    margin-bottom: -1em;
    margin-left: .6em;
    margin-top: -3.10em;
    z-index: 3;
    position: absolute;
}
.logout-icon{
    color: black;
}

.logout-icon:hover{
    color: maroon;
    z-index: 4;
}

.container-admin{
    justify-content: left;
    position: absolute;
    background-color: #FFFFFFE5;
    padding: 2.3rem;
    margin-left: 3em;
    margin-right: 30em;
    margin-top: -6em;
    border-radius: 2rem;
    width: 22%;
    opacity: 90%;
    height: 62.50vh;

}

.containerTitle-admin{
    font-size: 17px;
    font-family: 'Poppins';
    color: black;
    font-weight:bolder;
    text-align: center;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}

.containerContent-admin{
    font-size: 15px;
    font-family: 'Poppins';
    color: black;
    font-weight: 10%;
    text-align: justify;
    justify-content: justify;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
}

.update-admin-btn{
    text-align: center;
    display: flex;
    font-family: 'Poppins';
    justify-content: center;
    font-weight: 1000;
    font-size: 15px;
    position: relative;
    border-radius: 10px;
    border: 1px solid;
    width: 7em;
    background-color: #ffd700;
    padding: 1px;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    top: 5em;
    left: 1.2em;
    color: black;
    margin-top: 19em;
    margin-right: 10em;
    margin-left: 6.50em;
    height: 6%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.update-admin-btn:hover{
    background-color: #e5c000;
}

/* 
info icon */

.info-icon{
    z-index: 500;
    display: flex;
    justify-content: right;
    position: relative;
}
.info-btn{
    background-color: transparent;
    display: flex;
    position: absolute;
    border: none;
    font-size: 30px;
    cursor: pointer;
    margin-top: 2em;
    margin-right: .8em;
    color: maroon;
}
.info-admin{
    position: absolute;
    margin-top: 4em;
    margin-right: 3.2em;
}
.info-content{
    background-color: rgba(128,0,0,.9) ;
    color: white;
    list-style-type: none;
    padding: 30px;
    border-radius: 10px;
    width: 15em;
}
h1.info-main{
    text-align: center;
    font-size: 15px;
}