.htmlmyprofile{
    display: flex;
    background-color: maroon;
    background-size: cover;
    height: 100vh;

}
.HomeBtnProf{
    font-family: 'Poppins';
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
    color: black;
    flex-direction: row;
    display: flex;
    position: absolute;
    margin-top: -.65em;
}
.HomeBtnProf:hover {
    font-family: 'Poppins';
    font-weight: bold;
    text-decoration: none;
    color: maroon;
    flex-direction: row;
    display: flex;
}
.house-icon-prof {
    margin-left: 20px;
}

.header {
    background-image: url('./plmbg-profile.png');
    background-size: cover;
    height: 5em;
    font-size: 20px;
    display: flex;
    background-position: center center;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    color: black;
    margin-bottom: 0em;
    width: 100%;
  }
.profile-title{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins ExtraBold';
    font-weight: 900;
    font-size: 30px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    color: black;
    margin-top: 1em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.user-title{
    font-family: Poppins;
    text-align: left;
    flex-direction: column;
    font-family: 'Poppins';
    font-weight: bold;
    margin-bottom: 1em;
    color: white;
    background-color: transparent;
    margin-left: 1em;
    margin-top: 1em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container-left{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    background-color: rgba(128,0,0, 1);
    margin-right: auto;
    width: 100%;
    height: 100vh;
}

.container-input-profile{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    border-radius: 25px;
    max-height: 63vh;
}

.input-fName{
    color: white;
    margin-left: 1em;
    margin-bottom: .5em;
}
input.input-fName{
    color: black;
    margin-left:0em;
    width: 90%;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-lName{
    color: white;
    margin-left: 1em;
    margin-bottom: .5em;
}
input.input-lName{
    color: black;
    margin-left:0em;
    width: 90%;;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-studNum{
    color: white;
    margin-left: 1em;
    margin-bottom: .5em;
}

input.input-studNum{
    color: black;
    margin-left:0em;
    width: 90%;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-college{
    color: white;
    margin-left: 1em;
}

input.input-college{
    color: black;
    margin-left:0em;
    width: 90%;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.input-Email{
    color: white;
    margin-left: 1em;
}

input.input-Email{
    color: black;
    margin-left:0em;
    width: 90%;
    margin-bottom: .5em;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.input-oldPass{
    color: white;
    margin-left: 1em;
    margin-bottom: .5em;
}
input.input-oldPass{
    color: black;
    margin-left:0em;
    width: 90%;
    margin-bottom: .5em;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.input-newPass{
    color: white;
    margin-left: 1em;
    margin-bottom: .5em;
}
input.input-newPass{
    color: black;
    margin-left:0em;
    width: 90%;
    margin-bottom: .5em;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.input-conPass{
    color: white;
    margin-left: 1em;
    margin-bottom: 0em;
}
input.input-conPass{
    color: black;
    margin-left:0em;
    width: 90%;
    margin-bottom: .5em;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-input-student{
    margin-top: 3.5em;
}
.container-right{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    background-color: rgba(128,0,0, 1);
    margin-right: auto;
    width: 100%;
    height: 100vh;
    margin-left: -0.1em;
}
.row{
    display: flex;
    flex-direction: row;
    border: 0px;
    border-color: transparent;
}
.submit-btn{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 15px;
    position: relative;
    border-radius: 5px;
    border: 1px solid;
    width: 7em;
    background-color:#7ed957;
    padding: 4px;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    top: 0em;
    left: 1.2em;
    color: white;
    margin-top: .5em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.submit-btn:hover{
    background-color: #3ca70e;
}

.container-input-password{
    display: flex;
    flex-direction: column;
    font-family: 'Poppins';
    border-radius: 25px;
    max-height: 63vh;
}

.password-title{
    font-family: Poppins;
    text-align: left;
    flex-direction: column;
    font-family: 'Poppins';
    font-weight: bold;
    margin-bottom: 1em;
    color: white;
    background-color: transparent;
    margin-left: 1em;
    margin-top: 3.4em;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
