.htmlsignup{
    background-image: url('/public/LoginSignupBG.gif');
    background-size: cover;
}

.containersignup{
    margin-top: 15rem;
    max-width: 80%;
    background-color: maroon;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6em;
    margin-bottom: 2em;
    border-radius: 25px;
}
  
.signup-title{
    color: #ffd700;
    font-size: xx-large;
    font-weight: bolder;
    text-align: center;
    margin-bottom: 5rem;
    
    
}

.card{
    text-align: center;
    color: white;
}

.login-link{
    color:#ffd700;
    text-decoration: none;
}


